.price-range {
    position: relative;
    margin: 20px 0;
}

input[type="range"] {
    -webkit-appearance: none;
    width: 100%;
    height: 5px;
    background: #ddd;
    border-radius: 5px;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 20px;
    height: 20px;
    background: #333;
    border-radius: 50%;
    cursor: pointer;
}

input[type="range"]::-moz-range-thumb {
    width: 20px;
    height: 20px;
    background: #333;
    border-radius: 50%;
    cursor: pointer;
}

.price-labels {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.products-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* Căn giữa các mục khi số lượng ít */
    gap: 20px;
    /* Điều chỉnh khoảng cách giữa các sản phẩm */
}

.product-loc-wrapper {
    width: calc(33.33% - 20px);
    /* Đảm bảo 3 sản phẩm mỗi hàng */
    min-width: 250px;
    /* Đặt chiều rộng tối thiểu để tránh co quá nhỏ */
    max-width: 100%;
    margin-bottom: 20px;
}

.pc__img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 10px;
}